.rwProducts-input {
    width: 640px;

    input, textarea { padding: 4px; }
    input { height: 2em; }

    .productImage {
        img {
            width: 120px; height: 120px;
        }
    }

    .productOptionGroups {
        overflow: scroll;
        overflow-y: hidden;
        .productOptionGroup {
            display: table-cell;
            width: 300px;
            min-width: 300px;
            padding-right: 1em;
            input {
                width: 100%;
            }
            .optionName {
                width: 75%;
            }
            .optionPrice {
                width: 25%;
            }
        }
    }

}

.rw-products {
    position: relative;
    clear: both;
}

#products_editor {
    .rw-product-thumbnail {
        .tile;
        img {
            .border-radius(3px);
        }
        &.hidden {
            opacity: 0.5;
        }
        .doDelete {
            position: absolute;
            right: 0;
        }
        .doHide {
            position: absolute;
            left: 0;
        }
        p {
            text-align: center;
        }
    }

    .insertion-point {
        .tile;
        background-color: #D80;
        height: 100px;
    }

    .tile {
        position: relative;
        width: 100px;
        display: inline-block;
        margin: 0 6px;
        vertical-align: top;
    }
}
